
Forma1.Web/.vs/Forma1.Web/v16/.suo
Forma1.Web/.vs/Forma1.Web/DesignTimeBuild/.dtbcache.v2
Forma1.Web/.vs/Forma1.Web/v16/TestStore/0/001.testlog
Forma1.Web/Forma1.Data/obj/Debug/netcoreapp3.1/Forma1.Data.assets.cache
Forma1.Web/Forma1.Data/obj/Forma1.Data.csproj.nuget.dgspec.json
Forma1.Web/Forma1.Data/obj/Forma1.Data.csproj.nuget.g.props
Forma1.Web/Forma1.Data/obj/project.assets.json
Forma1.Web/Forma1.Data/obj/Release/netcoreapp3.1/Forma1.Data.assets.cache
Forma1.Web/Forma1.Services/obj/Debug/netcoreapp3.1/Forma1.Services.assets.cache
Forma1.Web/Forma1.Services/obj/Release/netcoreapp3.1/Forma1.Services.assets.cache
Forma1.Web/Forma1.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
Forma1.Web/Forma1.Test/bin/Release/netcoreapp3.1/nunit_random_seed.tmp
Forma1.Web/Forma1.Test/obj/Debug/netcoreapp3.1/Forma1.Test.assets.cache
Forma1.Web/Forma1.Test/obj/Release/netcoreapp3.1/Forma1.Test.assets.cache
Forma1.Web/Forma1.Web/obj/Debug/netcoreapp3.1/Forma1.Web.Views.dll
Forma1.Web/Forma1.Web/obj/Debug/netcoreapp3.1/Forma1.Web.assets.cache
Forma1.Web/Forma1.Web/obj/Release/netcoreapp3.1/Forma1.Web.assets.cache
Forma1.Web/Forma1.Web/obj/Release/netcoreapp3.1/Forma1.Web.Views.dll
Forma1.Web/.vs/Forma1.Web/DesignTimeBuild/.dtbcache.v2
Forma1.Web/.vs/Forma1.Web/DesignTimeBuild/.dtbcache.v2
Forma1.Web/.vs/Forma1.Web/v16/.suo
Forma1.Web/.vs/Forma1.Web/DesignTimeBuild/.dtbcache.v2
Forma1.Web/.vs/Forma1.Web/v16/TestStore/0/001.testlog
Forma1.Web/.vs/Forma1.Web/v16/.suo
*.dll
*.dll
